.s-bannar-wrapper{
    width: 100%;
    height: 200px;
    max-height: 250px;
    padding: 30px;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.offer-small-heading{
        margin-bottom: 13px;
        font-size: 1em;
        color: #c4c4c5;
}
.offer-small-heading span{

        color: #f77c29 !important;
    
}
.offer-product-name {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 1.17;
}
.offer-product-name {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 1.17;
}
.collection-name {
    font-weight: 400 !important;
}
.offer-price{
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #666;
}
